.navbar {
    background-color: rgb(3, 14, 63);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

img {
    height: 70px;
    width: 55px;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#links li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#links li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: cadetblue;
    transition: 0.2s ease-in-out;
}

#links li a:hover,
#links li a.active{
    color:aquamarine;
}

#links li a:hover::after,
#links li a.active::after{
    content:'';
    width: 30%;
    height: 2px;
    background-color: aquamarine;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* MOBILE */

.mobile-phone {
    display: none;
}

.mobile {
    align-items: center;
}

@media screen and (max-width: 700px) {
    #links.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color:rgb(3, 14, 63);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;

    }
    
    #links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 64px;
        right: 0px;
        width: 200px;
        height: 100vh;
        background-color:rgb(3, 14, 63);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;

    }

    #links li {
        margin-bottom: 25px;
    }

    .mobile-phone {
        display: block;
    }




  }