.product-img {
    width: 225px;
    height: 225px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid;

  }

.description {
    font-size: 9px;
}

.price {
    font-size: 12px;
}



@media screen and (max-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        padding-left: 80px;
    }
}